body {
    margin: 0;
}

.upper-part{
    text-align: center;
    width: 550px;
    height: 285px;
    left: 0px;
    top: 0px;
    background: #6943FF;
    padding: 5px 5px 5px 5px;
}

#title{
    color: white;
    text-align: center;
    padding-top: 15px;
}

.lower-part{
    text-align: center;
    color: #5A537B;
    width: 550px;
    height: 800px;
    left: 76px;
    top: 123px;
    background: #F4F4F4;
    padding: 15px 5px 5px 5px;
}

.length{
    background: white;
    width: 500px;
    height: 108.57px;
    left: 25px;
    top: 321px;
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 10px 10px;
}
.volume{
    text-align: center;
    background: white;
    width: 500px;
    height: 108.57px;
    left: 25px;
    top: 321px;
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 10px 10px;
}
.mass{
    text-align: center;
    background: white;
    width: 500px;
    height: 108.57px;
    left: 25px;
    top: 321px;
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 10px 10px;
}

#input{
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;
    margin: 10px 15px 20px 215px;
    padding: 0px 0px 10px 0px;
    text-align: center;
    font-size: 90px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: white;
}

#convert-btn{
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;
    border: none;
    border-radius: 5px;
}